* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  background: #eee;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Timer / Time Recorder */
.timer_box {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time_box {
  background: #fff;
  width: auto;
  font-size: 60px;
  line-height: 190px;
  height: 190px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #333;
  padding: 0 60px;
  border-radius: 15px;
}
.btn_box {
  margin-top: 40px;
  display: flex;
}
.btn_box span {
  font-size: 24px;
  letter-spacing: 2px;
  cursor: pointer;
  white-space: normal;
  width: 90px;
  text-align: center;
  line-height: 50px;
  background: #395867;
  color: #fff;
  margin: 0 15px;
  border-radius: 10px;
  transition: all 0.2s;
}
.btn_box span:hover {
  background: #5e8a9e;
}
.btn_box span:active {
  transform: scale(0.95);
}

.btn_suspend {
  display: none;
}

/* Clock */
.clock_box {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.clock_circular {
  position: relative;
  width: 524px;
  height: 524px;
  border: 12px solid #000;
  background: #fff;
  border-radius: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

/* Scale box */
.clock_scale {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
}
/* Default minute scale style */
.clock_scale_list {
  position: absolute;
  width: 4px;
  height: 100%;
  left: 50%;
  margin-left: -2px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform-origin: center center;
}
.clock_scale_list p {
  width: 100%;
  height: 18px;
  background: #000;
  position: relative;
}

/* Hour scale style */
.clock_hour {
  width: 8px;
  margin-left: -4px;
}
.clock_hour p {
  height: 30px;
}
.clock_hour p:nth-of-type(1) {
  border-radius: 0 0 99999px 99999px;
}
.clock_hour p:nth-of-type(2) {
  border-radius: 99999px 99999px 0 0;
}
.clock_hour p span {
  position: absolute;
  font-size: 25px;
  color: #000;
  font-weight: bold;
  white-space: nowrap;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
}
.clock_hour p:nth-of-type(2) span {
  top: auto;
  bottom: 105%;
}

/* angle */
.clock_scale_list:nth-of-type(2) {
  transform: rotate(6deg);
}
.clock_scale_list:nth-of-type(3) {
  transform: rotate(12deg);
}
.clock_scale_list:nth-of-type(4) {
  transform: rotate(18deg);
}
.clock_scale_list:nth-of-type(5) {
  transform: rotate(24deg);
}
.clock_scale_list:nth-of-type(6) {
  transform: rotate(30deg);
}

.clock_scale_list:nth-of-type(7) {
  transform: rotate(36deg);
}
.clock_scale_list:nth-of-type(8) {
  transform: rotate(42deg);
}
.clock_scale_list:nth-of-type(9) {
  transform: rotate(48deg);
}
.clock_scale_list:nth-of-type(10) {
  transform: rotate(54deg);
}
.clock_scale_list:nth-of-type(11) {
  transform: rotate(60deg);
}

.clock_scale_list:nth-of-type(12) {
  transform: rotate(66deg);
}
.clock_scale_list:nth-of-type(13) {
  transform: rotate(72deg);
}
.clock_scale_list:nth-of-type(14) {
  transform: rotate(78deg);
}
.clock_scale_list:nth-of-type(15) {
  transform: rotate(84deg);
}
.clock_scale_list:nth-of-type(16) {
  transform: rotate(90deg);
}

.clock_scale_list:nth-of-type(17) {
  transform: rotate(96deg);
}
.clock_scale_list:nth-of-type(18) {
  transform: rotate(102deg);
}
.clock_scale_list:nth-of-type(19) {
  transform: rotate(108deg);
}
.clock_scale_list:nth-of-type(20) {
  transform: rotate(114deg);
}
.clock_scale_list:nth-of-type(21) {
  transform: rotate(120deg);
}

.clock_scale_list:nth-of-type(22) {
  transform: rotate(126deg);
}
.clock_scale_list:nth-of-type(23) {
  transform: rotate(132deg);
}
.clock_scale_list:nth-of-type(24) {
  transform: rotate(138deg);
}
.clock_scale_list:nth-of-type(25) {
  transform: rotate(144deg);
}
.clock_scale_list:nth-of-type(26) {
  transform: rotate(150deg);
}

.clock_scale_list:nth-of-type(27) {
  transform: rotate(156deg);
}
.clock_scale_list:nth-of-type(28) {
  transform: rotate(162deg);
}
.clock_scale_list:nth-of-type(29) {
  transform: rotate(168deg);
}
.clock_scale_list:nth-of-type(30) {
  transform: rotate(174deg);
}

/* pointer */
.clock_pointer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  border-radius: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}
/* Center of circle */
.pointer_circle {
  position: absolute;
  z-index: 2;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: #000;
  left: 50%;
  top: 50%;
  margin-left: -11px;
  margin-top: -11px;
}

/* Hour hand */
.pointer_hour {
  position: absolute;
  z-index: 3;
  width: 14px;
  height: 25%;
  left: 50%;
  margin-left: -7px;
  bottom: 50%;
  background: #000;
  border-radius: 999999px;
  transform-origin: bottom center;
}
/* Minute hand */
.pointer_minute {
  position: absolute;
  z-index: 4;
  width: 8px;
  height: 35%;
  left: 50%;
  margin-left: -4px;
  bottom: 50%;
  background: #444;
  border-radius: 999999px;
  transform-origin: bottom center;
}
/* Second hand */
.pointer_second {
  position: absolute;
  z-index: 5;
  width: 4px;
  height: 47%;
  left: 50%;
  margin-left: -2px;
  bottom: 50%;
  background: #f3a829;
  border-radius: 999999px;
  transform-origin: bottom center;
}
.current_date{
  width: 100%;
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.current_time{
  width: 100%;
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time{
    width: 100%;
    font-size: 60px;
    line-height: 100px;
    height: 80px;
    font-weight: bold;
    color: #333;
    border-radius: 10px;
    text-align: center;
}
.today{
    width: 100%;
    font-size: 60px;
    line-height: 190px;
    height: 190px;
    font-weight: bold;
    color: #333;
    border-radius: 15px;
    text-align: center;
}